// @font-face {
//   font-family: "FAfont";
//   src: url("../dist/fa-brands-400.eot");
//   src: url("../dist/fa-brands-400.woff2") format("woff2"),
//     url("../dist/fa-brands-400.woff") format("woff"),
//     url("../dist/fa-brands-400.ttf") format("truetype");
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }

// .font {
//   font-family: "FAfont";
// }

#wrapper {
  display: flex;
  justify-content: center;
  height: 200px;
  background: url("./assets/bg.jpg");
}

form {
  display: flex;
  align-items: center;
}

.elemWrapper {
  transform: skewX(-45deg);
  border: 2px solid #fff;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.8);
}
input[type="text"],
button {
  background-color: transparent;
  transform: skewX(45deg);
  border: none;
  outline: none;
}

input[type="text"] {
  width: 300px;
}
button {
  width: 100px;
  color: #fff;
  cursor: pointer;
  background-color: transparent;
}

.red_bg {
  background-color: red;
}
